/* Font And Colors */
.mandali-regular {
  font-family: "Mandali", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: blue;
  --secondary-color: red;
}
/* End Font And Colors */

/* Reset CSS */
.html {
  scroll-behavior: smooth;
}

* {
  line-height: 1.8em;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}
/* End Of Reset CSS */
