:root {
  --primary-color: ##1b264c;
  --secondary-color: #fafafa;
}

/* Reset CSS */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: capitalize;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  height: fit-content;
  padding: 15px;
  margin: 0 auto;
  border-radius: 25px;
}
/* End Reset CSS */
